.containerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  width: 15rem;
  height: 13rem;
  margin-bottom: .5rem;
}

.information {
  width: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding: .9rem;
  border-radius: 10px;
  border: 1px solid #1a73e81c;
  background-color: rgba(0, 0, 0, 0.171);
}

.textInfo {
  border-radius: 1rem;
  border-bottom: solid 2px #1875FF;
  padding: .5rem;
  margin-bottom: 1rem;
  letter-spacing: .5px;
}

@media (max-width: 768px) {
  .img {
    width: 18rem;
  }

  .information {
    width: 70%;
  }
}